/* 
img{
    width:98vw;
    height:50vw;
    
} */
.head-wrapper{
   
}
.mat-toolbar-row{
    direction: rtl;
    margin-left:-35vw;
}
.mat-toolbar-multiple-rows {
    background-color: beige;
}
.profil{
   position: absolute;
}
.mat-button{
    margin:25px;
}