
.mat-toolbar-row{
    direction: rtl;
    margin-left:-35vw;
}
.mat-toolbar-multiple-rows {
    background-color:  #47927f;
}
.profil{
    width: 4vw;
    top: -0.5vw;
    position: absolute;
    left: 15vw;
}
.divHeader{
    position: absolute;
    width: 100%;
    left: 0vw;
}
#addOpinion{
    position: absolute;
    background-color:black;
    left: 25vw;
    color: #47927f;
}
#btnSearch{
    position: absolute;
    left: 37vw;
    color: #47927f;
    background-color:black;
}
#location{
    position: relative;
    margin-right: 14vw;
    width: 10vw;
    color: #47927f;
    background-color:black;
}