/* 
img{
    width:98vw;
    height:50vw;
    
} */
.head-wrapper{
    width:100vw;
    height: 50vw;
    background-repeat: no-repeat;
    background-position:center;   
     background-size: cover;
    margin:0vw;
    background-image:url(../../assets/images/background.jpg);
}
.mat-toolbar-row{
    direction: rtl;
    margin-left:-35vw;
}
.mat-toolbar-multiple-rows {
    background-color: beige;
}
.profil{
   position: absolute;
}
.mat-button{
    margin:25px;
}