 <div id="main_menu">
<mat-toolbar>
  <mat-toolbar-row>
    <div class="div-header">
      <a id="location"> מיקום </a>
      <a  routerLink="/opinion" id="addOpinion" routerLinkActive="active" > הוסף חוות דעת </a>
      <!-- <a routerLink="/login" routerLinkActive="active"><img  src="/assets/images/profil.png" class="profil"></a> -->
      <a routerLink="/login" id="profil" routerLinkActive="active">כניסה</a>
      <a id="btnSearch"> חיפוש</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
</div>
