.dep-card{
    width:70vw;
    position: absolute;
    right:15vw;
    top:6vw;
}
.div-wrapper-img{
   position: relative;
   display: flex
}
.department-manager img,
.department-phones img,
.department-vising-hours img
{
    border-radius: 70%;
    width:4vw;
    height:3.5vw;
    position: relative;
    left: 0.72vw;
    top: 0.7vw;
    border: 4px solid white;
  
}
/* .department-manager{
  background-repeat: no-repeat;
 
  background-position:center;  
  background-size: 60px;

  
  
} */
.department-manager,
.department-phones,
.department-vising-hours {
    border-radius: 70%;
    width: 6vw;
    height: 5.5vw;
    background-color: #b73232;
    background-position:left bottom;
    margin:50px;
    margin-left:12vw;
    /* transition: 0.2s all; */
} 

.dep-details{
    position: absolute;
}
.dep-details span{
   position: relative;
   top:-8.5vw;
   margin:9vw;
   left:-2.5vw;
}

mat-card-title,
  mat-card-subtitle,
  mat-card-header{
    direction:rtl;
  }
.mat-card-opinion{ 
    margin: 20px;   
    box-shadow: 0 0 5px 3px #b73232;
    text-align: right;
    margin-left: 6vw;
    margin-right: 6vw;
   }
  #mat-card{
    text-align: right;
    font-size: 1em;
    position: relative;
    right: 5vw;
    top: 1vw;
  }
  strong{
    margin-right:5vw;
  }
  .icon-forum{
      position: absolute;
      top:0;
      left:0;
  }
  .div-open-wrapping a{
      position: absolute;
      left:1vw;
  }
  .example-header-image {
    background-image: url(..//../assets/images/userProfil.png);
    background-size: cover;
    width: 4vw;
    height: 4vw;
    position: absolute;
    right: 1vw;
    border: 2px solid #b73232;
  }
  .div-title{
    background-color:white;
    width: 15vw;
    height: 3vw;
    position: absolute;
    top: 1vw;
    text-align: center;
    right: 0;
    box-shadow:  0 2px 2px  #b73232;
  }
  .div-title p{
    margin-top:0.8vw;
    font-size:1em;
    /* font-family: 'assitant'; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  