
<div class="body-content">
<mat-card class="cardLogin">
  <nav mat-tab-nav-bar>
    <a  mat-tab-link label="Log In" routerLink="/login" routerLinkActive="active" [active]="true">התחבר </a>
    <a mat-tab-link label="Sign Up" routerLink="/signUp" routerLinkActive="active"> הרשם </a>
  </nav>
  <mat-card-content class="LoginContent">
    <form [formGroup]="LoginForm" (ngSubmit)="submitForm()">
      <h2>התחבר</h2>
      <!-- <mat-error *ngIf="!IsExist">
        The username and password were not recognised
      </mat-error> -->
      <mat-form-field class="full-width-input">
        <input matInput placeholder="מייל" formControlName="email" required>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="סיסמא" formControlName="password" required>
      </mat-form-field>
      <button mat-flat-button  type="submit" class="LoginSubmit" >login</button>
    </form>
  </mat-card-content>
</mat-card>
</div>
