<div class="body-content">
<mat-card class="cardSign">
  <nav mat-tab-nav-bar>
    <a  mat-tab-link label="Log In" routerLink="/login" routerLinkActive="active" >התחבר </a>
    <a mat-tab-link label="Sign Up" routerLink="/SignUp" routerLinkActive="active" [active]="true">הרשם </a>
  </nav>
  <mat-card-content class="SignContent">
      <form [formGroup]="SignForm" (ngSubmit)="signform()">
      <h2>הרשם</h2>
    <mat-form-field class="full-width-input"> 
        <input matInput placeholder="שם משתמש" formControlName="Signusername" required>
    </mat-form-field>
   <mat-form-field class="full-width-input"> 
       <input matInput placeholder="מייל" formControlName="Signemail" required>
   </mat-form-field>
   <mat-form-field class="full-width-input"> 
      <input matInput  placeholder="סיסמא" formControlName="SignPasswd"  required>
  </mat-form-field>
  <button mat-flat-button  class="SignSubmit" type="submit">login</button>
      </form>
  </mat-card-content>
</mat-card> 
</div>
