<mat-card class="cardSign">
  <nav mat-tab-nav-bar>
    <a  mat-tab-link label="Log In" routerLink="/login" routerLinkActive="active" >Log In </a>
    <a mat-tab-link label="Sign Up" routerLink="/SignUp" routerLinkActive="active" [active]="true">Sign Up </a>
  </nav>
  <mat-card-content class="SignContent">
      <form [formGroup]="SignForm" (ngSubmit)="signform()">
      <h2>Sign Up</h2>
    <mat-form-field class="full-width-input"> 
        <input matInput placeholder="UserName" formControlName="Signusername" required>
        <!-- <mat-error>
        Please provide a valid email address
       </mat-error> -->
    </mat-form-field>
   <mat-form-field class="full-width-input"> 
       <input matInput placeholder="Email" formControlName="Signemail" required>
       <!-- <mat-error>
       Please provide a valid email address
      </mat-error> -->
   </mat-form-field>
   <mat-form-field class="full-width-input"> 
      <input matInput  placeholder="Password" formControlName="SignPasswd"  required>
      <!-- <mat-error>
      Please provide a valid password
     </mat-error> -->
  </mat-form-field>
  <button mat-flat-button color="accent" class="SignSubmit">login</button>
      </form>
  </mat-card-content>
</mat-card> 

