/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-radio-button.mat-accent .mat-radio-inner-circle{
    background-color:purple;
}
.bg{
    position: relative;
    height: 100%;
    background-repeat: no-repeat;
    background-position:center;   
    background-size: cover;
    background-image:url("./assets/images/3113529.jpg");  
}
.body-content{
    padding: 40px 20px;
    position: absolute;
    width: 60%;
    right: 8%;
    top: 10%;
    background: rgba(255, 255, 255, 0.6);
    height: 90%;
    text-align: right;
    direction: rtl;
    color: #000000;
}

