
.select-filter{
  display: inline-block;
  direction: rtl;
  text-align: right;
}
.btn-isexists{
    background-color: #b9a693;
    display: inline-block;
    margin-right: 15px;
}
mat-label{
    float: right;
}
  .titleOpinion{
      position: absolute;
      top:16vw;
      left: 35vw;
      width:30vw;
  }
  .txtareaHospital{
    height: 1vw;
  }
  .txtareaDepartment{
      height:6vw;
  }
  .contentOpinion{
    position: absolute;
    top:21vw;
    left:35vw;
    width:30vw;
  }
  .dirTitlel{
      direction: rtl;
  }