<div class="body-content">
  <div>
    <mat-form-field class="select-filter">
      <mat-label>בחר בית חולים</mat-label>
      <mat-select [(ngModel)]="selectedHospital" (selectionChange)="selectHospital();">
        <mat-option *ngFor="let item of LocalArr" [value]="item.HospitalId">{{item.HospitalName}}</mat-option>
      </mat-select>
  </mat-form-field>
  <button mat-flat-button  class="btn-isexists col-6">בית החולים לא קיים ברשימה</button>
  </div>
<div>
<mat-form-field class="select-filter">
    <mat-label>בחר מחלקה</mat-label>
    <mat-select [(ngModel)]="selectedDepartment" (selectionChange)="selectDepartment();">
      <mat-option *ngFor="let item of LocalArrDep" [value]="item.DepartmentId">{{item.FullName}}</mat-option>
    </mat-select>
</mat-form-field>
<button mat-flat-button  class="btn-isexists">המחלקה לא קיימת ברשימה</button> 
</div>
  <!-- <mat-form-field class="example-form-field">
  <mat-label>Clearable input</mat-label>
  <input matInput type="text" [(ngModel)]="headerOp"> 
  <button mat-button *ngIf="headerOp" matSuffix mat-icon-button aria-label="Clear" (click)="headerOp=''">
     <mat-icon>close</mat-icon> 
     </button>
</mat-form-field> -->
<app-star-rating [rating]="rating"  [starCount]="starCount" [color]="starColor" (ratingUpdated)="onRatingChanged($event)"></app-star-rating>


<mat-form-field appearance="fill" class="titleOpinion">
  <mat-label class="dirTitle">כותרת חוות הדעת</mat-label>
  <textarea matInput class="txtareaHospital"></textarea>
</mat-form-field>
<mat-form-field appearance="fill" class="contentOpinion">
  <mat-label >תוכן חוות הדעת</mat-label>
  <textarea matInput class="txtareaDepartment"></textarea>
</mat-form-field>
</div>
